@using System.Runtime.CompilerServices
@model IEnumerable<user_list_page.Models.User>

@{
    ViewData["PageTitle"] = "Users";
    ViewData["PageActionText"] = "Add User";
    ViewData["PageActionUrl"] = "/User/Add";

}

@* modal loga poga te *@
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add User
</button>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr class="white">
            <th>
                @Html.DisplayName("First and Last name")
            </th>
            <th>
                @Html.DisplayName("Age")
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="white">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DropDownList("UserStatus",
                        new SelectList(Enum.GetValues(typeof(Status))),
                        "Select action", new
                        {
                            @class = "form-control",
                            @onchange="openModal(this)"
                        })
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div><h1>404</h1></div>
}

@* modal loga kods te *@
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("Add", "User", FormMethod.Post))
            {
                <div class="modal-body">

                    <div>
                        <label class="control-label">First Name</label>
                        <input name="FirstName" class="form-control"/>
                    </div>
                    <div>
                        <label class="control-label">Last Name</label>
                        <input name="LastName" class="form-control"/>
                    </div>
                    <div>
                        <label class="control-label">Date Of Birth</label>
                        <input name="DateOfBirth" class="form-control" type="datetime-local"/>
                    </div>
                    <div>
                        <label class="control-label">Phone Number</label>
                        <input name="PhoneNumber" class="form-control"/>
                    </div>
                    <div>
                        <label class="control-label">Address</label>
                        <input name="Address" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Person</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="selectionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select spouse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div>
                        @Html.DropDownList("UserSpouse",
                            new SelectList(Model.Select(s => s.SpouseName)),
                        "Select action",
                        new
                        {
                            @class = "form-control"
                        })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
        </div>
    </div>
</div>

<script>
    function openModal(item) {
        var selectedStatus = item.value;
        if(selectedStatus == "Married"){ 
        $("#selectionModal").modal("show"); }
    }
</script>
